@model ChangePasswordViewModel
@using HelpDesk.AppService.Web.Controllers
@using HelpDesk.AppService.Web.Models.AccountViewModels

<div class="card">
    <h5 class="card-header">Change Password</h5>
    <!-- Change Password -->
    <div class="card-body">
        <div class="mb-3 col-12 mb-0">
            <div class="alert alert-warning">
                <h6 class="alert-heading mb-1">Are you sure you want to delete your account?</h6>
                <p class="mb-0">Once you delete your account, there is no going back. Please be certain.</p>
            </div>
        </div>
        <form id="formChangePassword" asp-action="@nameof(AccountController.ChangePassword)" method="POST">
            <div class="mb-3 form-password-toggle">
                <label class="form-label" for="Password">Password</label>
                <div class="input-group input-group-merge">
                    <input type="password" class="form-control" asp-for="Password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" />
                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                </div>
            </div>

            <div class="mb-3 form-password-toggle">
                <label class="form-label" for="ConfirmPassword">Confirm Password</label>
                <div class="input-group input-group-merge">
                    <input type="password" class="form-control" asp-for="ConfirmPassword" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" />
                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                </div>
            </div>

            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" name="accountActivation" id="accountActivation" />
                <label class="form-check-label" for="accountActivation">I confirm my account deactivation</label>
            </div>
            <button type="submit" class="btn btn-danger deactivate-account">Deactivate Account</button>
        </form>
    </div>
    <!-- /Change Password -->
</div>
