@model TicketViewModel

@using HelpDesk.AppService.Application.Core.Abstractions.ExternalService
@using HelpDesk.AppService.Web.Controllers
@using HelpDesk.AppService.Web.Models.TicketViewModels
@using HelpDesk.AppService.Web.Extensions

@inject ICategoryService _categoryService


@{
    ViewData["Title"] = "Tickets - Edit ticket";

    var categories = (await _categoryService.GetAsync()).ToSelectList(
        text => text.Name,
        value => value.IdCategory.ToString(),
        selected => selected.IdCategory == Model.IdCategory
    );
}

@* ************** Content ************** *@
<h4 class="py-3 mb-4">
    <span class="text-muted fw-light">Tickets /</span> Edit ticket
</h4>

<!-- Basic Layout -->
<div class="row">
    <div class="col-xl">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Basic Layout</h5> <small class="text-muted float-end">Default label</small>
            </div>
            <div class="card-body">
                <form id="formEditTicket" asp-action="@nameof(TicketController.Edit)" method="POST" asp-route-id="@Model.IdTicket">
                    <input type="hidden" asp-for="IdTicket" />
                    <div class="mb-3">
                        <label class="form-label" asp-for="IdCategory">Category</label>
                        @Html.DropDownListFor(m => m.IdCategory, categories, "Select Category", new { @class = "form-select" })
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="Description">Description</label>
                        <textarea class="form-control" asp-for="Description" placeholder="Enter the details of your request."></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary me-2">Save</button>
                    <a asp-action="@nameof(HomeController.Index)" asp-controller="Home" class="btn btn-outline-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
