@model IEnumerable<StatusModel>
@using HelpDesk.AppService.Application.Core.Abstractions.ExternalService.Models

@{
    ViewData["Title"] = "Ticket Settings - Status";
}

@* ************** Content ************** *@
<h4 class="py-3 mb-4">
    <span class="text-muted fw-light">Ticket Settings /</span> Status
</h4>

<!-- Status Table -->
<div class="card">
    <h5 class="card-header">Status List</h5>
    <div class="table-responsive text-nowrap">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var category in Model)
                {
                    <tr>
                        <td>@category.IdStatus</td>
                        <td>@category.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<!--/ Status Table -->
